*.log
*.tmp
*.temp
.DS_Store
Thumbs.db

target/
build/
*.class
*.jar
*.war
*.ear

.mvn/
mvnw.cmd
mvnw

.gradle/
build/

application.properties
application.yml
 
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
 
build/
dist/
 
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


.project
.classpath
.settings/

.vscode/

*.swp
*.swo