.cards-container {
  width: 100%;
  max-width: 1400px;
  margin: 100px auto;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  width: 280px;
  background: #111;
  padding: 40px 30px;
  border-radius: 16px;
  border: 1px solid #222;
  color: white;
  transition: all 0.3s ease;
}

.card h3 {
  color: #f39c12;
  margin-bottom: 15px;
  font-size: 20px;
}

.card p {
  color: #bbb;
  line-height: 1.6;
  font-size: 15px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(243, 156, 18, 0.3);
}
.cards-section{
    width: 100%;
  background-color: #000;   /* Solid black */
  padding-top:50px ;
  padding-bottom: 20px;
}