.page-wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 100px 40px 60px;
  background: #000;
  color: white;

}
.page-change{
  margin-left: 200px;
}

/* HEADING */
.main-heading {
  text-align: center;
  font-size: 38px;
  margin-bottom: 40px;
}

/* TOP BUTTONS */
.top-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.top-buttons button {
  padding: 12px 28px;
  background: #1a1a1a;
  color: white;
  border: 1px solid #333;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.top-buttons button:hover {
  background: #333;
}

/* SESSION NAV */
.session-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.session-nav button {
  padding: 10px 25px;
  background: #1a1a1a;
  border: 1px solid #333;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.session-nav button.active {
  background: #4CAF50;
}

/* CARD GRID */
.card-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

/* CARD */
.card {
  background: #111;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #222;
  overflow: hidden; /* prevent overflow */
  word-wrap: break-word;
}

.card h3 {
  color: orange;
  margin-bottom: 10px;
}

.card .desc {
  color: #bbb;
  margin-bottom: 8px;
  overflow-wrap: break-word;
}

/* CARD ACTIONS */
.card-actions {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.card button {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.danger {
  background: red;
  color: white;
}

/* FORM */
.form-container {
  max-width: 600px;
  margin: auto;
  background: #111;
  padding: 40px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-container input,
.form-container textarea {
  padding: 12px;
  background: #1a1a1a;
  border: 1px solid #333;
  color: white;
  border-radius: 6px;
}

/* BUTTON */
.primary-btn {
  padding: 12px;
  background: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

/* ANIMATION */
.fade-in {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
