.hero {
  height: 100vh;
  width: 100%;
 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;

  padding-top: 300px;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.6)
  );
  display: flex;
  align-items: center;
  padding-left: 8%;
}


.hero-subcontent{
    padding-top: 20px ;
}

.hero-buttons{
    padding-top: 20px;
}

.hero-content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.hero-text {
  flex: 1;
  color: white;
}
.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
    animation: float 4s ease-in-out infinite;
  width: 100%;
  max-width: 650px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}


.hero-subtitle{
    padding-top: 20px;
}