.inventory-wrapper {
  min-height: 100vh;
  background-color: #000;
  color: white;
  padding: 40px;
  padding-top: 200px;
  padding-left: 100px;
}

.page-title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 40px;
  letter-spacing: 2px;
  padding-top: 200px;
}

/* Tabs */
.tabs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
}

.tab {
  background-color: #111;
  color: white;
  padding: 30px 60px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #222;
  transition: 0.3s;
}

.tab:hover {
  background-color: #222;
  transform: scale(1.05);
}

.active {
  background-color: white;
  color: black;
}

/* Content */
.content-section {
  background-color: #111;
  padding: 40px;
  border-radius: 10px;
  min-height: 300px;
}

/* Forms */
.form-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}

.form-section input,
.form-section select,
.form-section textarea {
  padding: 12px;
  border-radius: 6px;
  border: none;
}

textarea {
  min-height: 100px;
}

button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

th {
  background-color: #222;
  padding: 15px;
}

td {
  padding: 15px;
  border-bottom: 1px solid #333;
}

/* Responsive */
@media (max-width: 768px) {
  .tabs-container {
    flex-direction: column;
    align-items: center;
  }

  .tab {
    width: 80%;
    text-align: center;
  }

  .inventory-wrapper {
    
    padding: 150px;
  }
}
