.navbar {
  width: 100%;
  background-color: black;
  padding: 18px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #222;
}

.navbar-container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #f39c12;
  text-decoration: none;
}

.logo:focus {
  outline: none;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s ease;
}

.nav-links li a:hover {
  color: #f39c12;
  transform: scale(1.1);
}
